
{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form action="{% url 'login_usuario' %}" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Username..." name="username">
    <br>
    <input type="password" placeholder="Password..." name="password">
    <br>
    <input type="submit" value="login">
</form>
{% endblock %}
<!--
<html>
<head>
 
  
</head>
<body>
    
    <form action="{% url 'login_usuario' %}" method="POST">{% csrf_token %}

        <input type="text" placeholder="Username..." name="username">
        <br>
        <input type="password" placeholder="Password..." name="password">
        <br>
        <input type="submit" value="logado">

    </form>
</body>
</html>
-->
